
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }

  .mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }
  
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }

  .islate-case-green {
    background-color: green;
    color: white;
  }

  .islate-case-red {
    background-color: red;
    color: white;
  }

  
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .form-control {
    flex-grow: 1;
  }
  
  h1 {
    font-size: calc(25px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
  }