
#footer-card {
    height: 15%;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      width: 60%;
      height: auto;
    }
  }
  
  input {
    width: 100%;
  }
  
  
  h3 {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  a label {
      cursor: pointer;
  }
  
  
  