<br>
<div class="d-flex flex-column align-items-center justify-content-start">
    <div class="card border-dark">
      <div class="card-header text-center">
        <h3>S'inscrire</h3>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Nom</label>
            <div class="d-flex flex-column">
              <input type="text" placeholder="Entrer votre nom" formControlName="Nom">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.Nom?.invalid && (contactForm.controls.Nom.dirty || contactForm.controls.Nom.touched)">
                <div *ngIf="contactForm.controls.Nom?.errors.required">
                  Nom est obligatoire.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Prenom</label>
            <div class="d-flex flex-column">
              <input type="text" placeholder="Entrer votre prenom" formControlName="Prenom">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.Prenom?.invalid && (contactForm.controls.Prenom.dirty || contactForm.controls.Prenom.touched)">
                <div *ngIf="contactForm.controls.Prenom?.errors.required">
                  prénom est obligatoire.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Email</label>
            <div class="d-flex flex-column">
              <input type="text" placeholder="Entrer votre adresse email" formControlName="Email">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.Email?.invalid && (contactForm.controls.Email.dirty || contactForm.controls.Email.touched)">
                <div *ngIf="contactForm.controls.Email?.errors.required">
                  Email est obligatoire.
                </div>
                <div *ngIf="contactForm.controls.Email?.errors?.Email">
                  Email n'est pas valide.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Login</label>
            <div class="d-flex flex-column">
              <input type="text" placeholder="Choisir un login" formControlName="Login">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.Login?.invalid && (contactForm.controls.Login.dirty || contactForm.controls.Login.touched)">
                <div *ngIf="contactForm.controls.Login?.errors.required">
                  Login est obligatoire.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Mot de passe</label>
            <div class="d-flex flex-column">
              <input type="password" placeholder="Entrer votre mot de passe" formControlName="MPasse">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.MPasse?.invalid && (contactForm.controls.MPasse.dirty || contactForm.controls.MPasse.touched)">
                <div *ngIf="contactForm.controls.MPasse?.errors.required">
                  Password est obligatoire.
                </div>
                <div *ngIf="contactForm.controls.MPasse?.invalid">
                  Password doit contenir 8 caractères.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Mot de passe de confirmation</label>
            <div class="d-flex flex-column">
              <input kendoTextBox type="password" placeholder="Confirmer votre mot de passe" formControlName="CMPasse">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.CMPasse?.invalid && (contactForm.controls.CMPasse.dirty || contactForm.controls.CMPasse.touched)">
                <div *ngIf="contactForm.controls.CMPasse?.errors.required">
                  Password est obligatoire.
                </div>
                <div *ngIf="contactForm.controls.CMPasse?.invalid">
                  Password doit contenir 8 caractères.
                </div>
                <div *ngIf="contactForm.controls.CMPasse?.errors.mustMatch">
                  Password n'est pas conforme.
                </div>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="buttons d-flex flex-row justify-content-between">
            <button type="button" class="btn btn-danger float-right" (click)="onGoBack()">
              Annuler</button>
            <button type="submit" [disabled]="validForm()" class="btn btn-success float-left">
                Enregister</button>
          </div>
        </div>
      </form>
    </div>
    <br>
    <div id="footer-card" class="card text-white bg-danger" *ngIf="messageError">
      <p>Oups, nous avons détecté une erreur...</p>
      <p>{{messageError}}</p>
    </div>
    <br>
  </div>
  
