<div id="modal-content-wrapper">
    <header id="modal-header">
        <h3>Détails de la tâche</h3>
    </header>
    <br>
    <section id="modal-body">
        <div class="group-nom">
            <label><strong>Nom</strong>: </label>
            &nbsp;
            <label> {{nomList}}</label>
        </div>
        <hr>
        <div class="group-type">
            <label><strong>Type</strong>: </label>
            &nbsp;
            <label> {{typeList}}</label>
        </div>
        <hr>
        <div class="group-category">
            <label><strong>Catégorie</strong>: </label>
            &nbsp;
            <label> {{categoryList}}</label>
        </div>
        <hr>
        <div class="group-dateDebut">
            <label><strong>Date de début</strong>: </label>
            &nbsp;
            <label> {{dateDebutList | date: 'dd/MM/yyyy'}}</label>
        </div>
        <hr>
        <div class="group-dateFin">
            <label><strong>Date de fin</strong>: </label>
            &nbsp;
            <label> {{dateFinList | date: 'dd/MM/yyyy'}}</label>
        </div>
        <hr>
        <div class="group-state" *ngIf ="info === 'todoList'">
            <div class="first-group">
                <label><strong>Etat d'avancement</strong>: </label>
                &nbsp;
                <label> {{isLateList}}</label>
            </div>
            <div class="second-group" *ngIf = "!getTypeList()" style = "width: 100%">
                <ng5-slider [(value)]="value" [options] = "options1"></ng5-slider>
            </div>
            <div class="second-group" *ngIf = "getTypeList()" style = "width: 100%">
                <ng5-slider [(value)]="value" [options] = "options2"></ng5-slider>
            </div>
        </div>
        <br *ngIf ="info === 'todoList'">
        <br *ngIf ="info === 'todoList'">
        <hr *ngIf ="info === 'todoList'">
        <div class="group-percent" *ngIf ="info === 'todoList'">
            <label><strong>Pourcentage</strong>: </label>
            &nbsp;
            <label> {{percentList}} %</label>
        </div>
    </section>
    <footer id="modal-footer">
        <br>
        <button type="button" class="btn btn-danger float-right" (click)="closeModal()">Annuler</button>
    </footer>

</div>