<div id="modal-content-wrapper">
    <header id="modal-header">
        <h3>Ajouter une catégorie</h3>
    </header>
    <br>
    <form [formGroup]="thingForm">
        <section id="modal-body">
            <div class="form-group">
                <label class="control-label">Nom: </label>
                &nbsp;&nbsp;
                <input type="text" class="form-control form-control-sm" formControlName="Nom"
                    placeholder="Entrez le nom de catégorie" required>
            </div>
            <div class="form-group">
                <label class="control-label">Type: </label>
                &nbsp;&nbsp;
                <select class="form-control form-control-sm" formControlName="Type" >
                    <option>personnel</option>
                    <option>travail</option>
                </select>
            </div>
            <div class = "photo-group">
                <button class="btn btn-success" type="button" (click)="filePicker.click()">Ajouter image</button>
                <input type="file" #filePicker (change)="onImagePick($event)">
                <div class="image-preview" *ngIf="imagePreview">
                    <img [src]="imagePreview" alt="">
                </div>
            </div>
        </section>
        <footer id="modal-footer">
            <br>
            <button type="button" class="btn btn-danger float-left" (click)="closeModal()">Annuler</button>
            <button class="btn btn-success float-right" (click) = "onAddCategory()">Ajouter</button>
        </footer>
    </form>
</div>