.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-items: stretch;
}
.photo-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: stretch;
}
h3 {
    font-size: calc(24px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
