<br>
<h1 class = "float-left">Liste des catégories</h1>
<button class = "btn btn-sm btn-success float-right" (click) = "addCategory()" title="Ajouter une catégorie"><i class="fa fa-plus fa-2x"></i></button>
<br>
<br>
<br>
<div fxLayout fxLayoutAlign="center center" class="form-inline active-cyan-2">
    <i class="fa fa-search fa-2x"></i>
    &nbsp;
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="rechercher une catégorie">
    </mat-form-field>
</div>
<br>
<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let element">{{element.Nom}}</td>
        </ng-container>
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{element.Type}}</td>
        </ng-container>
        <ng-container matColumnDef="imageURL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
            <td mat-cell *matCellDef="let element"><img src = "{{element.imageURL}}" width = "100px"></td>
        </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-xs btn-danger" (click) = "deleteCategory(element)"><i class="fa fa-ban fa-1x"
                        title="Supprimer la catégorie"></i></button>
                &nbsp;
                <button class="btn btn-xs btn-primary" (click) = "editCategory(element)"><i class="fa fa-pencil fa-1x"
                        title="Editer la catégorie"></i></button>
                &nbsp;
                <button class="btn btn-xs btn-info" (click) = "detailsCategory(element)"><i class="fa fa-search fa-1x"
                        title="Consulter la catégorie"></i></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 10, 15]" [length]="length" [pageSize]="pageSize" showFirstLastButtons>
    </mat-paginator>
</div>
<br>